@import "base/variables";
@import "base/mixins";

* {
    font-family: "Museo Sans Cyrl", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}
.icon-up {
width: 50px;
height: 50px;
position: fixed;
bottom: 40px;
right: 70px;
display: none;
justify-content: center;
align-items: center;
cursor: pointer;
i {
    font-size: 60px;
    color: rgba(217, 30, 24, .7);
    
}
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/catalog";
@import "blocks/feedbacs";
@import "blocks/footer";
@import "blocks/map";
@import "blocks/modals";